---
layout: foundation-agency.njk
---

<div class="callout large">
  <div class="row column text-center">
    <h1>POPROX</h1>
    <p class="lead">Platform for OPen Recommendation and Online eXperimentation</p>
  </div>
</div>

<div class="row">
  {# <div class="medium-6 columns medium-push-6">
    <img class="thumbnail" src="https://placehold.it/750x350">
  </div> #}
  <div class="medium-8 columns medium-pull-2">
    <h2>The POPROX project</h2>
    <p>
      {# I copied this from the recsys tutorial proposal text. #}
      We are designing and building experimental infrastructure for recommender systems researchers.
      When operational, researchers will be able to conduct experiments delivering recommendations and/or related interactive functionalities to the system's user base.
      We anticipate Launching Q1 2024.
      Until then, watch this space for more information.
    </p>
  </div>
</div>

<div class="callout large primary">
  <div class="row column text-center">
    <h2>Sign Up to be notified when we release</h2>
    <a href="https://groups.google.com/a/umn.edu/g/poprox-announce/" class="button large hollow">Join the mailing list</a>
  </div>
</div>

<h2 class="text-center"> WHO: </h2>
<div class="row">
  <div class="medium-4 columns">
    <h3>Robin Burke</h3>
    <p>University of Colorado Boulder</p>
  </div>
  <div class="medium-4 columns">
    <h3>Michael Ekstrand</h3>
    <p>Boise State University</p>
  </div>
  <div class="medium-4 columns">
    <h3>Daniel Kluver</h3>
    <p> University of Minnesota </p>
  </div>
  <div class="medium-4 columns">
    <h3>Bart Knijenburg</h3>
    <p>Clemson University</p>
  </div>
  <div class="medium-4 columns">
    <h3>Josepth Konstan</h3>
    <p> University of Minnesota </p>
  </div>
  <div class="medium-4 columns">
    <h3>Edward Malthouse</h3>
    <p>Northwestern University</p>
  </div>
</div>
